   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }

   html,
   body {
       height: 100%;
       width: 100%;
       background-color: gray;
       display: flex;
   }

   .main {

       height: 35vw;
       width: 70vw;
       margin: auto;
       margin-top: 100px;
       position: relative;
       overflow: hidden;

   }

   .slide {
       position: absolute;
       width: 100%;
       height: 100%;
       transition: all 1s;
       object-fit: cover;
   }

   button {
       border: none;
       background-color: transparent;
       left: 84%;
       top: 50%;
       font-size: 2vw;
       position: absolute;
       width: 60px;
   }

   .btn {
       left: 11%;
       top: 50%;
   }

   i {
       font-weight: 100;
       color: white;
       font-size: 5vw;
   }

   .courser {
      height:30px;
      width:30px;
      border-radius:50%;
      background-color:red;
   }